

.result__repeat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    img{
        height:20vw;
        width: 20vw;

        border: 2px solid black;
    }
}
.result__checker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    img{
        width: 20vw;
        height: 10vw;

        border: 2px solid black;
    }
}

.game__guess {
    
    height:20vw;
    width: 20vw;

    border: 2px solid black;
}   